*{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue; 
}

/*titulo*/

/*body,html{background-image: url('../pictures/fondo.jpg');}*/

/*div#titulo{
	width:100%;
	margin-top:30px;
}

p#header{
	text-align: center;
	font-size: 2.5em;
	color:#9a9a9a;
}

p#subheader{
	text-align: center;
	color:#cecece;
	margin-top:50px;
	font-size: 1.3em;
}

header{
	margin:5px auto;
	width:750px;
	height:90px;
	background-color: red;
}

div.contenedor{
	width: 150px;
	height: 90px;
	float:left;
	-webkit-transition: height .4s;
}

div#uno{
	background-color: rgb(208,101,3);
}

div#dos{
	background-color: rgb(233,147,26); 
}

div#tres{
	background-color: rgb(22,145,190);
}

div#cuatro{
	background-color: rgb(22,107,162);
}

div#cinco{
	background-color: rgb(27,54,71);
}

div#seis{
	background-color: rgb(21,40,54);
}*/

/*img.icon{
	display: block;
	margin:8px auto;
	background-color: rgba(255,255,255,.15);
	width:30px;
	padding:10px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 15px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
	-moz-border-radius: 50%;
	-moz-box-shadow: 0px 0px 0px 15px rgba(255,255,255,0);
	-moz-transition:box-shadow .4s;
}*/

p.texto{
	font-size: 1.2em;
	color:white;
	text-align: center;
	padding-top:0px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
	-moz-transition: padding-top .4s;
}

div.contenedor:hover{
	height:110px;
}

div.contenedor:hover p.texto{
	padding-top: 15px;
	opacity: 1;
}

div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}

#contenedorImagen{margin: 100px 0px 0px 350px; /*text-align: center;*/}

.thumb img{ opacity: 0.5;
-moz- opacity: 0.5;
filter:alpha(opacity=5);}

.thumb img:hover{ opacity: 1;
-moz- opacity: 1;
filter:alpha(opacity=5);}

#mapa {
	width: 300px;
	height: 300px;
	margin: 150px 0px 0px 50px;
}









































































