<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>América Construcciones</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand cm-navbar-brand">América Construcciones</span>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Inicio</a></li>
                            <li class="active"><a href="javascript:void(0)">Galería</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="service1.html">Bombeo de Hormigón</a></li>
                                    <li><a href="service2.html">Hormigón Proyectado</a></li>
                                    <li><a href="service3.html">Ejecución de Piscinas</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.navbar-collapse -->
                </div>
            </div>

            <div class="container">
                <h1 class="text-muted">Espiá nuestra galería</h1>
                <hr>
                <div class="cm-img-normalize" ng-app="galleryGrid" ng-controller="GalleryGridController">
                    <div ng-repeat="p in pics">
                        <img src="img/loading.gif" class="img-responsive cm-img-selected" ng-src="{{p.url}}"/>
                    </div>
                </div>
                <script>
                    var app = angular.module("galleryGrid", []);
                    app.controller('GalleryGridController', function($scope, $http) {
                        $scope.pics = [];
                        $http.get('gallery.php').success(function(result) {
                            $scope.pics = result;
                        });
                    });
                    $(document).on('click','.img-responsive', function(e) {
                        $('#img-view').attr('src', $(this).attr('ng-src'));
                        $('#myModal').modal({show:true});
                    });
                </script>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">América Construcciones</h4>
                        </div>
                        <div class="modal-body">
                            <img id="img-view" class="img-responsive" src=""/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div id="push"></div>
        </div>
        <div id="footer">
            <hr>
            <div class="container text-center">
                <p><span class="glyphicon glyphicon-earphone"></span>&nbsp;<a href="tel:+5493515424737">0351-155424737</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;<a href="mailto:info@americasa.com.ar">info@americasa.com.ar</a></p>
                <a class="btn btn-primary" href="https://www.facebook.com/americaconstrucciones"><span class="glyphicon glyphicon-thumbs-up"></span> Seguinos en Facebook</a>
            </div>
        </div>
    </body>
</html>
