/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
    height: 100%;
    overflow-y: scroll;
}
body {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}
.container{
    max-width: 1000px;
}
.cm-img-backgroud{
    background: #eee url('../img/strip.jpg') repeat fixed center;
}
.cm-img-backgroud h1, .cm-img-backgroud p{
    color:#eee;
}
.cm-navbar-brand{
    color:#999!important;
}
.cm-navbar-brand:hover{
    cursor: default;
}
.cm-block-hover{
    padding-top: 15px;
    cursor: pointer;
    color: inherit;
    display: block;
}
.cm-block-hover:hover{
    background-color: #eee;
    color: inherit;
    text-decoration: none;
}
.cm-block-hover>img{
    padding: 0;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -90px;
}
#push, #footer {
    height: 90px;
}
.cm-img-normalize{
    text-align: center;
}
.cm-img-normalize>div{
    height: 300px;
    width: 300px;
    overflow: hidden;
    display: inline-block;
    margin-left: 5px;
}
.cm-img-normalize>div>img {
    min-height: 300px;
    min-width: 300px;
    cursor: pointer;    
}
#img-view{
    margin: 0 auto;
}
img.cm-img-selected {
    filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
    filter: Gray(); /* IE4-8 and 9 */

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    opacity: .75;
    -moz-opacity: .75;
    filter:alpha(opacity=75);
}
img.cm-img-selected:hover { 
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: none;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
}